<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body id="top">

    <div id="wrapper">

        <!-- HEADER -->
        <div id="header_wrap" class="outer">
            <header class="inner">
                <% include ../partials/header %>
            </header>
        </div>

        <!-- MAIN CONTENT -->
        <div id="main_content_wrap" class="outer">
            <section id="main_content" class="inner">
                <section id="dossier">

                    <div><h1><%= biomarkerInfo['Name'] %></h1><br></div>

                    <div id="accordion">
                        <section id="biomarkerInfoAccordionSection">
                            <p class="pointer">&#9654;</p><h1><a href="#">Biomolecule Info</a></h1>
                            <p>
                                <p class="dossier_label">Type:&nbsp;&nbsp;</p>
                                <%= biomarkerInfo['Type'] %>
                            </p>

                            <p>
                                <p class="dossier_label">Medium:&nbsp;&nbsp;</p>
                                <%= biomarkerInfo['Medium'] %>
                            </p>

                            <p class="dossier_label">Alternate Names:&nbsp;&nbsp;</p>
                            <ul>
                                <% biomarkerInfo['Alternate Names'].forEach(function(name) { %>
                                    <li><%= name %></li>
                                <% }); %>
                            </ul>



                            <br>
                        </section>

                        <section id="item3" class="ac_hidden">
                        <p class="pointer">&#9654;</p><h1><a href="#">Source Information</a></h1>
                        <p class="dossier_label">Biomolecule State:&nbsp;&nbsp;</p>
                        <%= biomarkerInfo['Sources'][0]['Biomolecule State'] %> 
                        <br><br>
                        

                        <% if (biomarkerInfo['Sources'][0]['Drug Name'] !== null) { %>
                                    <p class="dossier_label">Drug Name:&nbsp;&nbsp;</p>
                                    <%= biomarkerInfo['Sources'][0]['Drug Name'] %>
                                    <br><br>
                        <% } %>

                        
                        <p class="dossier_label">Disease:&nbsp;&nbsp;</p>
                        <%= biomarkerInfo['Sources'][0]['Disease'] %> 
                        <br><br>

                        <p class="dossier_label">Purpose:&nbsp;&nbsp;</p>
                        <%= biomarkerInfo['Sources'][0]['Purpose'] %> 
                        <br><br>

                        <% if (biomarkerInfo['Sources'][0]['Other Biomarkers'] !== null && biomarkerInfo['Sources'][0]['Other Biomarkers'].length > 0) { %>
                                    <p class="dossier_label">Other Referenced Biomarkers:&nbsp;&nbsp;</p>
                                    <%= biomarkerInfo['Sources'][0]['Other Biomarkers'] %>
                                    <%= " " %>
                                    <br><br>
                        <% } %>

                        <p class="dossier_label">Trials:&nbsp;&nbsp;</p>
                        <blockquote>
                        <div class="CSSTableGenerator">
                        <table>
                            <TR>
                                <td> Method of Discovery </td>
                                <% if (biomarkerInfo['Sources'][0]['Trials'][0]['# Patients'] !== null) { %>
                                        <td> # of Patients </td>
                                <% } %>
                            </TR>
                            <TR>
                                <TD> <%= biomarkerInfo['Sources'][0]['Trials'][0]['Discovery Method'] %> </TD>
                                 <% if (biomarkerInfo['Sources'][0]['Trials'][0]['# Patients'] !== null) { %>
                                        <TD> <%= biomarkerInfo['Sources'][0]['Trials'][0]['# Patients'] %> </TD>
                                <% } %>
                            </TR>
                        </table>
                    </div>
                    </blockquote>

                        
                        

                        <p class="dossier_label">ID:&nbsp;&nbsp;</p>
                        <a href='<%= biomarkerInfo['Sources'][0]['URL'] %>' target = "blank">
                            <%= biomarkerInfo['Sources'][0]['Google ID'] %>
                        </a>
                        <br><br>

                        <p class="dossier_label">Source Type:&nbsp;&nbsp;</p>
                        <%= biomarkerInfo['Sources'][0]['Source Type'] %> 
                        <br><br>

                        <p class="dossier_label">Original Source Database:&nbsp;&nbsp;</p>
                        <%= biomarkerInfo['Sources'][0]['Original Source Database'] %> 
                        <br><br>
                    

                        <section id="item3" class="ac_hidden">
                            <p class="pointer">&#9654;</p><h1><a href="#">Contributors</a></h1>
                            <p>Nathan Dalal </p>
                            <p>Mythri Ambatipudi </p>
                            <p>No dynamic contributors displayed yet. Coming soon... </p>
                        </section>
                    </div>

                </section>
            </section>
        </div>

        <!-- FOOTER  -->
        <div id="footer_wrap" class="outer">
            <footer class="inner">
                <% include ../partials/footer %>
            </footer>
        </div>

    </div><!-- END WRAPPER -->

</body>

<% if(logged_in) { %>
<% include ../partials/navbar_loggedin %>
<% } else { %>
<% include ../partials/navbar %>
<% } %>

</html>
