<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body id="top">

    <div id="wrapper">

        <!-- HEADER -->
        <div id="header_wrap" class="outer">
            <header class="inner">
                <% include ../partials/header %>
            </header>
        </div>

        <!-- MAIN CONTENT -->
        <div id="main_content_wrap" class="outer">
            <section id="main_content" class="inner">
                <section id="dossier">

                    <div><h1><%= biomarkerName %></h1><br></div>

                    <div id="accordion">
                        <section id="biomarkerInfoAccordionSection">
                            <p class="pointer">&#9654;</p><h1><a href="#">Biomolecule Info</a></h1>
                            <p>
                                <p class="dossier_label">Type:&nbsp;&nbsp;</p>
                                <%= biomarkerInfo.Type %>
                            </p>

                            <p>
                                <p class="dossier_label">Disease:&nbsp;&nbsp;</p>
                                <%= biomarkerInfo.Disease %>
                                <% if(biomarkerInfo["Disease_Stage"]) { %>
                                    (<%= biomarkerInfo.Disease_Stage %>)
                                <% } %>
                            </p>

                            <p class="dossier_label">Alternate Names:&nbsp;&nbsp;</p>
                            <ul>
                                <% biomarkerInfo.Names.forEach(function(name) { %>
                                    <li><%= name %></li>
                                <% }); %>
                            </ul>

                            <% if(biomarkerInfo["Drug_Name(if_FDA_Approved)"]) { %>
                                <p>
                                    <p class="dossier_label">Drug Name:&nbsp;&nbsp;</p>
                                    <%= biomarkerInfo["Drug_Name(if_FDA_Approved)"] %>
                                <p>
                            <% } %>

                            <p><p class="dossier_label">State Change:&nbsp;&nbsp;</p><%= biomarkerInfo.State_Change %></p>

                            <br>
                        </section>
                        <section id="item2" class="ac_hidden">
                            <p class="pointer">&#9654;</p><h1><a href="#">Referenced Papers</a></h1>
                            <p>Coming Soon... </p>
                        </section>
                        <section id="item3" class="ac_hidden">
                            <p class="pointer">&#9654;</p><h1><a href="#">Contributors</a></h1>
                            <p>Coming Soon... </p>
                        </section>
                    </div>

                </section>
            </section>
        </div>

        <!-- FOOTER  -->
        <div id="footer_wrap" class="outer">
            <footer class="inner">
                <% include ../partials/footer %>
            </footer>
        </div>

    </div><!-- END WRAPPER -->

</body>

<% include ../partials/navbar %>

</html>
