<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body id="top">

    <div id="wrapper">

        <!-- HEADER -->
        <div id="header_wrap" class="outer">
            <header class="inner">
                <% include ../partials/header %>
            </header>
        </div>

        <!-- MAIN CONTENT -->
        <div id="main_content_wrap" class="outer">
            <section id="main_content" class="inner">
                <section id="dossier">
                    <h1><%= biomarkerName %></h1>

                    <p>
                        <p class="dossier_label">Type:&nbsp;&nbsp;</p>
                        <%= biomarkerInfo.Type %>
                    </p>

                    <p>
                        <p class="dossier_label">Disease:&nbsp;&nbsp;</p>
                        <%= biomarkerInfo.Disease %>
                        <% if(biomarkerInfo["Disease_Stage"]) { %>
                            (<%= biomarkerInfo.Disease_Stage %>)
                        <% } %>
                    </p>

                    <p class="dossier_label">Alternate Names:&nbsp;&nbsp;</p>
                    <ul>
                        <% biomarkerInfo.Names.forEach(function(name) { %>
                            <li><%= name %></li>
                        <% }); %>
                    </ul>

                    <% if(biomarkerInfo["Drug_Name(if_FDA_Approved)"]) { %>
                        <p>
                            <p class="dossier_label">Drug Name:&nbsp;&nbsp;</p>
                            <%= biomarkerInfo["Drug_Name(if_FDA_Approved)"] %>
                        <p>
                    <% } %>

                    <p><p class="dossier_label">State Change:&nbsp;&nbsp;</p><%= biomarkerInfo.State_Change %></p>

                    <br>
                </section>
            </section>
        </div>

        <!-- FOOTER  -->
        <div id="footer_wrap" class="outer">
            <footer class="inner">
                <% include ../partials/footer %>
            </footer>
        </div>

    </div><!-- END WRAPPER -->

</body>

<% include ../partials/navbar %>

</html>
