<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body id="top">

    <div id="wrapper">

        <!-- HEADER -->
        <div id="header_wrap" class="outer">
            <header class="inner">
                <% include ../partials/header %>
            </header>
        </div>

        <!-- MAIN CONTENT -->
        <div id="main_content_wrap" class="outer">
            <section id="main_content" class="inner">
                <% if(typeof optional_text!='undefined' && optional_text!=undefined) { %>
                    <span>
                        <%= optional_text %><br>
                    </span>
                <% } %>
                <br>
                <% if(search_failed) { %>
                    <div style="text-align: center;">
                        <strong><%= biomarkerName %></strong>
                        could not be found in the Markerville database.<br><br><br>
                    </div>
                    <br>
                <% } %>
                <form id="main_search_bar" method="get">
                    <span>
                        <input type="search" id="search_bar" name="biomarker" placeholder="Search..." required>
                    </span>
                    <input type="button" id="search_button" value="Search">
                    <br><br>
                    Search for biomarkers or diseases. You can also <a href="/by-disease">browse biomarkers by disease</a>.
                </form>
                <br>
            </section>
        </div>

        <div id="attribute_list">
            <ul>
                <li class="attribute">
                    <img id="biomarker_attribute_img"
                    src="images/biomarkers_attribute.png" alt="Biomarkers">
                    <h3><%= num_biomarkers %> Biomarkers</h3>
                </li>
                <li class="attribute">
                    <img id="disease_attribute_img"
                    src="images/diseases_attribute.png" alt="Diseases">
                    <h3><%= num_diseases %> Diseases</h3>
                </li>
                <li class="attribute">
                    <img id="users_attribute_img"
                    src="images/users_attribute.png" alt="Users">
                    <h3><%= num_users %> Contributors</h3>
                </li>
            </ul>
        </div>

        <!-- FOOTER  -->
        <div id="footer_wrap" class="outer">
            <footer class="inner">
                <% include ../partials/footer %>
            </footer>
        </div>

    </div><!-- END WRAPPER -->

</body>

<% if(logged_in) { %>
<% include ../partials/navbar_loggedin %>
<% } else { %>
<% include ../partials/navbar %>
<% } %>

</html>
